<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://arr1-petstore.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c8db6045-f06a-4d9a-99c4-45af85f0fe8a/resourceGroups/ARR1/providers/Microsoft.Web/sites/ARR1-Petstore</ResourceId>
    <UserName>$ARR1-Petstore</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://arr1-petstore.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>