<?xml version ="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Prerelease" value="https://pkgs.dev.azure.com/andreas0539/_packaging/Prerelease/nuget/v3/index.json" protocolVersion="3" />
    <add key="Released" value="https://pkgs.dev.azure.com/andreas0539/_packaging/Released/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>