{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Vitec Connect"
  },
  "host": "connect.maklare.vitec.net",
  "schemes": [ "https" ],
  "paths": {
    "/Appointment/{customerId}/{id}": {
      "post": {
        "tags": [ "Appointment" ],
        "summary": "Skapa kalenderhändelse",
        "operationId": "Appointment_Post",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appointment",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Appointment.Models.Appointment" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "string" }
          }
        }
      }
    },
    "/Area/GetAreas": {
      "get": {
        "tags": [ "Area" ],
        "summary": "Hämtar en lista över områden.",
        "operationId": "Area_GetAreas",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "criteria.areaId",
            "in": "query",
            "description": "Områdets id",
            "required": false,
            "type": "string"
          },
          {
            "name": "criteria.customerId",
            "in": "query",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Area.Models.Area" }
            }
          }
        }
      }
    },
    "/Association/{customerId}/{associationId}": {
      "get": {
        "tags": [ "Association" ],
        "summary": "Hämtar bostadsrättsförening.",
        "operationId": "Association_GetAssociation",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "associationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Association.Models.Association" }
          }
        }
      }
    },
    "/BusinessIntelligence/OfficeStatistics": {
      "get": {
        "tags": [ "BusinessIntelligence" ],
        "summary": "Hämtar beslutstödsstatistik för kontor. \r\nMan kan hämta statistik för ett enskilt kontor eller en grupp.\r\nGenom att ange ett datumintervall hämtar man enbart statistik från det givna intervallet.",
        "description": "Hämtar information för ett eller flera kontor. Går även att selektera på datumintervall.",
        "operationId": "BusinessIntelligence_OfficeStatistics",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "licenseId",
            "in": "query",
            "description": "Kund-id (kontor eller grupp)",
            "required": true,
            "type": "string"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Datum från",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Datum till",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "assignment",
            "in": "query",
            "description": "Uppdragstyp",
            "required": false,
            "type": "string",
            "enum": [ "Writing", "Valuation", "Sale" ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/BusinessIntelligence.Models.OfficeStatisticsSummary" }
            }
          }
        }
      }
    },
    "/BusinessIntelligence/RealtorStatistics": {
      "get": {
        "tags": [ "BusinessIntelligence" ],
        "summary": "Hämtar beslutstödsstatistik för mäklare. \r\nMan kan hämta statistik för mäklare på ett enskilt kontor eller en grupp.\r\nGenom att ange ett datumintervall hämtar man enbart statistik från det givna intervallet.",
        "description": "Hämtar information för en mäklare kopplad till ett eller flera kontor. Går även att selektera på datumintervall.",
        "operationId": "BusinessIntelligence_RealtorStatistics",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "licenseId",
            "in": "query",
            "description": "Kund-id (kontor eller grupp)",
            "required": true,
            "type": "string"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Datum från",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Datum till",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "assignment",
            "in": "query",
            "description": "Uppdragstyp",
            "required": false,
            "type": "string",
            "enum": [ "Writing", "Valuation", "Sale" ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/BusinessIntelligence.Models.RealtorStatisticsSummary" }
            }
          }
        }
      }
    },
    "/BusinessIntelligence/OfficeStatisticsByMonth": {
      "get": {
        "tags": [ "BusinessIntelligence" ],
        "summary": "Hämtar beslutstödsstatistik för kontor och sorterar informationen per år och månad. \r\nMan kan hämta statistik för ett enskilt kontor eller en grupp.\r\nGenom att ange ett datumintervall hämtar man enbart statistik från det givna intervallet.",
        "description": "Hämtar information, sorterad på år och månad, för ett eller flera kontor. Går även att selektera på datumintervall.",
        "operationId": "BusinessIntelligence_OfficeStatisticsByMonth",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "licenseId",
            "in": "query",
            "description": "Kund-id (kontor eller grupp)",
            "required": true,
            "type": "string"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Datum från",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Datum till",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "assignment",
            "in": "query",
            "description": "Uppdragstyp",
            "required": false,
            "type": "string",
            "enum": [ "Writing", "Valuation", "Sale" ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/BusinessIntelligence.Models.OfficeStatisticsByMonth" }
          }
        }
      }
    },
    "/BusinessIntelligence/GetSalesReportForEstate": {
      "get": {
        "tags": [ "BusinessIntelligence" ],
        "summary": "Hämtar försäljningsrapport med provisioner för en bostad med angivet bostadsid eller bostadsnummer.",
        "operationId": "BusinessIntelligence_GetSalesReportForEstate",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Kund-id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "query",
            "description": "Bostadsid.",
            "required": false,
            "type": "string"
          },
          {
            "name": "estateNumber",
            "in": "query",
            "description": "Bostadsnummer.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/BusinessIntelligense.Models.SalesReportForEstateResponse" }
          }
        }
      }
    },
    "/BusinessIntelligence/GetSalesReport": {
      "get": {
        "tags": [ "BusinessIntelligence" ],
        "summary": "Hämtar försäljningsrapport med provisioner för kundens bostäder med kontraktsdag inom ett intervall.",
        "description": "Hämtar försäljningsrapport för kontorets bostäder med kontraktsdag som valbart intervall.",
        "operationId": "BusinessIntelligence_GetSalesReport",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Kund-id (kontor eller grupp)",
            "required": true,
            "type": "string"
          },
          {
            "name": "selectionType",
            "in": "query",
            "description": "",
            "required": true,
            "type": "string",
            "enum": [ "Create", "Access", "Agreement", "Changed", "LatestPropertyChangeDate" ]
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/BusinessIntelligense.Models.SalesReportResponse" }
          }
        }
      }
    },
    "/BusinessIntelligence/GetEstateReportProdDb": {
      "get": {
        "tags": [ "BusinessIntelligence" ],
        "summary": "Hämtar försäljningsrapport med provisioner för kundens bostäder med kontraktsdag inom ett intervall.",
        "description": "Hämtar försäljningsrapport för kontorets bostäder med kontraktsdag som valbart intervall.",
        "operationId": "BusinessIntelligence_GetEstateReportProdDb",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Kund-id (kontor eller grupp)",
            "required": true,
            "type": "string"
          },
          {
            "name": "selectionType",
            "in": "query",
            "description": "",
            "required": true,
            "type": "string",
            "enum": [ "Create", "Access", "Agreement", "Changed", "LatestPropertyChangeDate" ]
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Estates.BusinessIntelligense.SalesReportResponse" }
          }
        }
      }
    },
    "/BusinessIntelligence/GetEstatesReport": {
      "get": {
        "tags": [ "BusinessIntelligence" ],
        "summary": "Hämtar en rapport med provisioner för kundens bostäder med kontraktsdag inom ett intervall.",
        "description": "Hämtar en rapport för kontorets bostäder med kontraktsdag som valbart intervall.",
        "operationId": "BusinessIntelligence_GetEstatesReport",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Kund-id (kontor eller grupp)",
            "required": true,
            "type": "string"
          },
          {
            "name": "selectionType",
            "in": "query",
            "description": "",
            "required": true,
            "type": "string",
            "enum": [ "Create", "Access", "Agreement", "Changed", "LatestPropertyChangeDate" ]
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/BusinessIntelligense.Models.SalesReportResponse" }
          }
        }
      }
    },
    "/BusinessIntelligence/Estates": {
      "get": {
        "tags": [ "BusinessIntelligence" ],
        "summary": "Hämtar försäljningsrapport på antal sålda bostäder med kontraktsdatum inom ett intervall",
        "operationId": "BusinessIntelligence_Estates",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/BusinessIntelligense.Models.EstateReferences" }
            }
          }
        }
      }
    },
    "/BusinessIntelligence/Budget/{customerId}/{officeId}/{userId}/{year}/{month}": {
      "post": {
        "tags": [ "BusinessIntelligence" ],
        "summary": "Uppdaterar budgetuppgifter",
        "operationId": "BusinessIntelligence_Budget",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "officeId",
            "in": "path",
            "description": "Unik identifierare på butiken som budgeten avser",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Användar-id på användaren som budgeten avser",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "path",
            "description": "År",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "month",
            "in": "path",
            "description": "Månad",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "realtorBudget",
            "in": "body",
            "description": "Budget",
            "required": true,
            "schema": { "$ref": "#/definitions/Budget.Models.RealtorBudget" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/BusinessIntelligence/TipsAndLeads/Report": {
      "get": {
        "tags": [ "BusinessIntelligence" ],
        "summary": "Hämtar en rapport över skickade och mottagna tips och leads, datumintervallet får inte överstiga två månader",
        "operationId": "BusinessIntelligence_Get",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Från",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Till",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/BusinessIntelligense.Models.TipsAndLeadsReport" }
          }
        }
      }
    },
    "/BusinessIntelligence/hits/{customerId}/estate": {
      "post": {
        "tags": [ "BusinessIntelligence" ],
        "summary": "Metod för att rapportera besöksstatistik för marknadsplatser",
        "operationId": "BusinessIntelligence_Hits",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateHit",
            "in": "body",
            "description": "Besök",
            "required": true,
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Hits.BusinessIntelligense.EstateHit" }
            }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/BusinessIntelligence/hits/{customerId}/estate/dailyHits": {
      "post": {
        "tags": [ "BusinessIntelligence" ],
        "summary": "Metod för att rapportera daglig besöksstatistik för marknadsplatser",
        "operationId": "BusinessIntelligence_DailyHits",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "dailyestateHits",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Hits.BusinessIntelligense.DailyEstateHit" }
            }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/Category/GetCategories": {
      "get": {
        "tags": [ "Category" ],
        "summary": "Hämtar kategorier. För att kunna hämta kategorier så krävs det en giltig API nyckel och ett kundid",
        "operationId": "Category_GetCategories",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Kund id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Category.Models.Categories" }
          }
        }
      }
    },
    "/Contacts/GetContacts": {
      "post": {
        "tags": [ "Contacts" ],
        "summary": "Hämtar lista över kontakter.",
        "description": "Hämta kontaktlista.\r\nFör att kunna hämta en kontaktlista så krävs det en giltig API nyckel och ett kundid.",
        "operationId": "Contacts_GetContacts",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "criteria",
            "in": "body",
            "description": "Urval",
            "required": true,
            "schema": { "$ref": "#/definitions/Contact.Models.ContactCriteria" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Contact.Models.ContactCollection" }
            }
          }
        }
      }
    },
    "/Contacts/GetContactsSyncList": {
      "post": {
        "tags": [ "Contacts" ],
        "summary": "Hämtar lista över kontakters id och ändringsdatum.",
        "description": "Hämta kontaktlista.\r\nFör att kunna hämta en kontaktlista så krävs det en giltig API nyckel och ett kundid.",
        "operationId": "Contacts_GetContactsSyncList",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "criteria",
            "in": "body",
            "description": "Urval",
            "required": true,
            "schema": { "$ref": "#/definitions/Contact.Models.ContactCriteria" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Contact.Models.ContactCollectionForSyncList" }
            }
          }
        }
      }
    },
    "/Contacts/GetContactsWithPhonenumber": {
      "get": {
        "tags": [ "Contacts" ],
        "summary": "Hämtar lista av kontaktid med telfonnummer",
        "operationId": "Contacts_GetContactsWithPhonenumber",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "phoneNumber",
            "in": "query",
            "description": "Telefonnummer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Kund-id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Contact.Models.CustomerContactIds" }
            }
          }
        }
      }
    },
    "/Contacts/UpdatePerson": {
      "post": {
        "tags": [ "Contacts" ],
        "summary": "Skapar en ny eller uppdaterar en befintlig kontaktperson.<br />\r\nDubblettkontroll sker på <br />\r\n1) kontaktid, 2) personnummer, 3) förnamn och efternamn, och något av telefonnummer, mobilnummer eller epostadress.<br />\r\nMatar man in information i något av ovanstående fält, så fylls övriga fält i automatiskt.<br />\r\nMinst ett fält behöver vara ifyllt för att dubblettkontroll ska kunna göras. Om dubblettkontrollen inte hittar en redan befintlig kontakt skapas en ny.",
        "description": "Skicka in ny eller uppdatera befintlig kontaktperson. <br /><br />\r\nFör att kunna uppdatera eller skapa en kontakt så krävs det en giltig API nyckel och ett kundid (Customerld).<br /> Finns Contactld (kontaktid) sker kontrollen på detta och alla inskickade fält uppdateras på kontakten.<br /> Saknas Contactld (kontaktid) sker kontrollen på SocialSecurityNumber (personummer) och alla övriga fält på konten uppdateras.<br /> Finns ingen av ovanstånde fält så sker kontrollen på FirstName (förnamn) och LastName (efternamn) och dessutom på något av  telephone (telefonnummer), cellphone (mobilnummer) eller EmailAddress (Epostadress1). Lämnas dessa fält tomma sker ingen dubblett kontroll men minst ett av dessa måste skickas in för att identifiera en dubblett. Hittas ingen dubblett skapas en ny person.",
        "operationId": "Contacts_UpdatePerson",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "contact",
            "in": "body",
            "description": "Kontakt",
            "required": true,
            "schema": { "$ref": "#/definitions/Update.Contact.UpdatePerson" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "string" }
          }
        }
      }
    },
    "/Contacts/UpdateCompany": {
      "post": {
        "tags": [ "Contacts" ],
        "summary": "Skapar en ny eller uppdaterar en befintlig företagskontakt.<br />Dubblettkontroll sker på<br /> 1) kontaktid, 2) organisationsnummer, 3) företagsnamn, telefonnummer eller epostadress. Matar man in information i något av ovanstående fält, så fylls övriga fält i automatiskt. Minst ett fält behöver vara ifyllt för att dubblettkontroll ska kunna göras. Om dubblettkontrollen inte hittar en redan befintlig kontakt skapas en ny.",
        "description": "Skicka in ny eller uppdatera befintlig företagskontakt.<br /><br /> \r\n För att kunna uppdatera eller skapa en kontakt så krävs det en giltig API nyckel och ett kundid (Customerld).<br /> \r\n Finns Contactld (kontaktid) sker kontrollen på detta och alla inskickade fält uppdateras på företaget. <br /> \r\n Saknas Contactld (kontaktid) sker kontrollen på CorporateHumber (organisationsnummer) och alla övriga fält på företaget uppdateras. <br />\r\n  Finns ingen av ovanstående fält sker kontrollen på CompanyHame (företagsnamn) och dessutom på SwitchPhone (telefonnummer) eller EmailAddress (Epostadressl). Lämnas dessa fält tomma sker ingen dubblett kontroll men minst en måste skickas in för att identifiera en dubblett. Hittas ingen dubblett skapas ett nytt företag.",
        "operationId": "Contacts_UpdateCompany",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "contact",
            "in": "body",
            "description": "Kontakt",
            "required": true,
            "schema": { "$ref": "#/definitions/Update.Contact.UpdateCompany" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "string" }
          }
        }
      }
    },
    "/Cottage/{customerId}/{id}": {
      "put": {
        "tags": [ "Cottage" ],
        "summary": "Metod för att uppdatera ett fritidshus.",
        "operationId": "Cottage_Update",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id på fritidshuset",
            "required": true,
            "type": "string"
          },
          {
            "name": "cottage",
            "in": "body",
            "description": "Fritidshusinformationen som ska uppdateras",
            "required": true,
            "schema": { "$ref": "#/definitions/Cms.Estate.CmsCottage" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/Cottage/{customerId}": {
      "post": {
        "tags": [ "Cottage" ],
        "summary": "Metod för att skapa ett fritidshus.<br />",
        "operationId": "Cottage_Create",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "cottage",
            "in": "body",
            "description": "Fritidshusinformationen som ska sparas",
            "required": true,
            "schema": { "$ref": "#/definitions/Cms.Estate.CmsCottage" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "string" }
          }
        }
      }
    },
    "/CRM/Bid/{customerId}/{id}": {
      "get": {
        "tags": [ "CrmBid" ],
        "summary": "Hämta information om ett bud",
        "operationId": "CrmBid_Get",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Budid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Bid.Models.Bid" }
          }
        }
      },
      "delete": {
        "tags": [ "CrmBid" ],
        "summary": "Annulera ett bud",
        "operationId": "CrmBid_Delete",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Budid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "boolean" }
          }
        }
      }
    },
    "/CRM/Bids/{customerId}": {
      "get": {
        "tags": [ "CrmBid" ],
        "summary": "Hämta information om synliga bud kopplat till en budgivare och/eller bostad.",
        "operationId": "CrmBid_GetList",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "criteria.estateId",
            "in": "query",
            "description": "Bostadsid",
            "required": false,
            "type": "string"
          },
          {
            "name": "criteria.contactId",
            "in": "query",
            "description": "Kontaktid",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Bid.Models.Bid" }
            }
          }
        }
      }
    },
    "/CRM/HiddenBids/{customerId}": {
      "get": {
        "tags": [ "CrmBid" ],
        "summary": "Hämta information om dolda bud kopplat till en budgivare och/eller bostad.",
        "operationId": "CrmBid_GetHiddenBids",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "criteria.estateId",
            "in": "query",
            "description": "Bostadsid",
            "required": false,
            "type": "string"
          },
          {
            "name": "criteria.contactId",
            "in": "query",
            "description": "Kontaktid",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Bid.Models.Bid" }
            }
          }
        }
      }
    },
    "/CRM/Bid/{customerId}/{estateId}/{contactId}": {
      "post": {
        "tags": [ "CrmBid" ],
        "summary": "Metod för att lägga bud på en bostad.",
        "operationId": "CrmBid_Add",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "Bostadsid",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "KontaktId",
            "required": true,
            "type": "string"
          },
          {
            "name": "bidData",
            "in": "body",
            "description": "Buddata",
            "required": true,
            "schema": { "$ref": "#/definitions/Bid.Models.BidData" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "string" }
          }
        }
      }
    },
    "/CRM/Buyer/{customerId}/{contactId}/Estate/{estateId}/Economy": {
      "get": {
        "tags": [ "CrmBuyer" ],
        "summary": "Bank- och försäkringsppgifter",
        "operationId": "CrmBuyer_GetEconomy",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Buyer.Models.BuyerEconomy" }
          }
        }
      }
    },
    "/CRM/Contact/{customerId}": {
      "get": {
        "tags": [ "CrmContact" ],
        "summary": "Hämta lista av kontakter som matchar ett kriterie.",
        "operationId": "CrmContact_Select",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "criteria.agentId",
            "in": "query",
            "description": "Urval på användareid",
            "required": false,
            "type": "string"
          },
          {
            "name": "criteria.createdAtFrom",
            "in": "query",
            "description": "Skapad från och med",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "criteria.createdAtTo",
            "in": "query",
            "description": "Skapad till och med",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "criteria.changedAtFrom",
            "in": "query",
            "description": "Ändrad från och med",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "criteria.changedAtTo",
            "in": "query",
            "description": "Ändrad till och med",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "criteria.customFieldName",
            "in": "query",
            "description": "Egendefinerat fältnamn",
            "required": false,
            "type": "string"
          },
          {
            "name": "criteria.customFieldValue",
            "in": "query",
            "description": "Egendefinerat fältvärde",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Crm.Contact.CrmContactList" }
          }
        }
      }
    },
    "/CRM/Contact/{customerId}/{contactId}": {
      "get": {
        "tags": [ "CrmContact" ],
        "summary": "Hämta kontakt",
        "operationId": "CrmContact_Get",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "Kontaktid.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Crm.Contact.CrmContact" }
          }
        }
      }
    },
    "/CRM/Contact/{customerId}/{contactIds}": {
      "get": {
        "tags": [ "CrmContact" ],
        "summary": "Hämta lista utav kontakter, max 20 stycken åt gången.",
        "operationId": "CrmContact_GetList",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactIds",
            "in": "path",
            "description": "Kontaktidn (kommaseparerade, max 20 stycken).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Crm.Contact.CrmContact" }
            }
          }
        }
      }
    },
    "/CRM/Contact/{customerId}/Company/{contactId}": {
      "get": {
        "tags": [ "CrmContact" ],
        "summary": "Hämta företagskontakt",
        "operationId": "CrmContact_GetCompany",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "Kontaktid.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Crm.Contact.CrmCompanyContact" }
          }
        }
      }
    },
    "/CRM/Contact/{customerId}/Company/{contactIds}": {
      "get": {
        "tags": [ "CrmContact" ],
        "summary": "Hämta lista utav företagskontakter, max 20 stycken åt gången.",
        "operationId": "CrmContact_GetCompanyList",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactIds",
            "in": "path",
            "description": "Kontaktidn (kommaseparerade, max 20 stycken).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Crm.Contact.CrmCompanyContact" }
            }
          }
        }
      }
    },
    "/CRM/Contact/{customerId}/Person/{contactId}": {
      "get": {
        "tags": [ "CrmContact" ],
        "summary": "Hämta personkontakt",
        "operationId": "CrmContact_GetPerson",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "Kontaktid.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Crm.Contact.CrmPersonContact" }
          }
        }
      }
    },
    "/CRM/Contact/{customerId}/Person/{contactIds}": {
      "get": {
        "tags": [ "CrmContact" ],
        "summary": "Hämta lista utav personkontakter, max 20 stycken åt gången.",
        "operationId": "CrmContact_GetPersonList",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactIds",
            "in": "path",
            "description": "Kontaktidn (kommaseparerade, max 20 stycken).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Crm.Contact.CrmPersonContact" }
            }
          }
        }
      }
    },
    "/CRM/Contact/{customerId}/DeceasedEstate/{contactId}": {
      "get": {
        "tags": [ "CrmContact" ],
        "summary": "Hämta dödsbokontakt",
        "operationId": "CrmContact_GetDeceasedEstate",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "Kontaktid.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Crm.Contact.CrmDeceasedEstateContact" }
          }
        }
      }
    },
    "/CRM/Contact/{customerId}/DeceasedEstate/{contactIds}": {
      "get": {
        "tags": [ "CrmContact" ],
        "summary": "Hämta lista utav dödsbokontakter, max 20 stycken åt gången.",
        "operationId": "CrmContact_GetDeceasedEstateList",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactIds",
            "in": "path",
            "description": "Kontaktidn (kommaseparerade, max 20 stycken).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Crm.Contact.CrmDeceasedEstateContact" }
            }
          }
        }
      }
    },
    "/CRM/Contact/{customerId}/PresentAccomodation/{contactId}": {
      "get": {
        "tags": [ "CrmContact" ],
        "summary": "Hämta nuvarande boende för en kontakt.",
        "operationId": "CrmContact_GetPresentAccomodation",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "Kontaktid.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Crm.Contact.CrmPresentAccomodation" }
          }
        }
      }
    },
    "/CRM/Contact/{customerId}/PresentAccomodation/{contactIds}": {
      "get": {
        "tags": [ "CrmContact" ],
        "summary": "Hämta lista av nuvarande boenden för kontakter, max 20 stycken kontakter åt gången.",
        "operationId": "CrmContact_GetPresentAccomodationList",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactIds",
            "in": "path",
            "description": "Kontaktidn (kommaseparerade, max 20 stycken).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Crm.Contact.CrmPresentAccomodation" }
            }
          }
        }
      }
    },
    "/CRM/Contact/{customerId}/Speculator/{contactId}": {
      "get": {
        "tags": [ "CrmContact" ],
        "summary": "Hämta spekulantrelationerna för en kontakt.",
        "operationId": "CrmContact_GetSpeculatorRelations",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "Kontaktid.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Crm.Contact.CrmSpeculatorContact" }
          }
        }
      }
    },
    "/CRM/Contact/{customerId}/Speculator/{contactIds}": {
      "get": {
        "tags": [ "CrmContact" ],
        "summary": "Hämta lista av spekulantrelationer för kontakter, max 20 stycken kontakter åt gången.",
        "operationId": "CrmContact_GetSpeculatorRelationsList",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactIds",
            "in": "path",
            "description": "Kontaktidn (kommaseparerade, max 20 stycken).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Crm.Contact.CrmSpeculatorContact" }
            }
          }
        }
      }
    },
    "/CRM/Contact/{customerId}/Buyer/{contactId}": {
      "get": {
        "tags": [ "CrmContact" ],
        "summary": "Hämta köparrelationerna för en kontakt.",
        "operationId": "CrmContact_GetBuyerRelations",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "Kontaktid.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Crm.Contact.CrmBuyerContact" }
          }
        }
      }
    },
    "/CRM/Contact/{customerId}/Buyer/{contactIds}": {
      "get": {
        "tags": [ "CrmContact" ],
        "summary": "Hämta lista av köparrelationer för kontakter, max 20 stycken kontakter åt gången.",
        "operationId": "CrmContact_GetBuyerRelationsList",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactIds",
            "in": "path",
            "description": "Kontaktidn (kommaseparerade, max 20 stycken).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Crm.Contact.CrmBuyerContact" }
            }
          }
        }
      }
    },
    "/CRM/Contact/{customerId}/Seller/{contactId}": {
      "get": {
        "tags": [ "CrmContact" ],
        "summary": "Hämta säljarrelationerna för en kontakt.",
        "operationId": "CrmContact_GetSellerRelations",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "Kontaktid.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Crm.Contact.CrmSellerContact" }
          }
        }
      }
    },
    "/CRM/Contact/{customerId}/Seller/{contactIds}": {
      "get": {
        "tags": [ "CrmContact" ],
        "summary": "Hämta lista av säljarrelationer för kontakter, max 20 stycken kontakter åt gången.",
        "operationId": "CrmContact_GetSellerRelationsList",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactIds",
            "in": "path",
            "description": "Kontaktidn (kommaseparerade, max 20 stycken).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Crm.Contact.CrmSellerContact" }
            }
          }
        }
      }
    },
    "/CRM/Contact/{customerId}/{contactId}/OptOut": {
      "put": {
        "tags": [ "CrmContact" ],
        "summary": "Avregistrera utskick",
        "operationId": "CrmContact_OptOut",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "Kontaktid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/CRM/Contact/{customerId}/{contactId}/Category/{id}": {
      "delete": {
        "tags": [ "CrmContact" ],
        "summary": "Ta bort en kategori från en kontakt.",
        "operationId": "CrmContact_DeleteCategory",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "Kontaktid",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Kategori id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/CRM/Estate/{customerId}/{estateId}/biddingSettings": {
      "get": {
        "tags": [ "CrmEstate" ],
        "summary": "Hämtar budgivningsinställningar.",
        "description": "<p>Hämtar budgivningsinställningar.</p>\r\n<p>För att kunna hämta bidinställningar så krävs det en giltig API nyckel och ett kundid.</p>",
        "operationId": "CrmEstate_GetBiddingSettings",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "bostadsid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Bid.Models.BiddingSettings" }
          }
        }
      },
      "put": {
        "tags": [ "CrmEstate" ],
        "summary": "Uppdatera budgivningsinställningar.",
        "description": "<p>Uppdatera budgivningsinställningar.</p>\r\n<p>För att kunna hämta bidinställningar så krävs det en giltig API nyckel och ett kundid.</p>",
        "operationId": "CrmEstate_PutBiddingSettings",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "Bostadsid",
            "required": true,
            "type": "string"
          },
          {
            "name": "biddingSettings",
            "in": "body",
            "description": "Bidgivninginställingar",
            "required": true,
            "schema": { "$ref": "#/definitions/Bid.Models.BiddingSettings" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "boolean" }
          }
        }
      }
    },
    "/CRM/Estate/{customerId}/{estateId}/Invoices": {
      "get": {
        "tags": [ "CrmEstate" ],
        "summary": "Hämtar fakturanummer.",
        "description": "<p>Hämtar fakturanummer.</p>",
        "operationId": "CrmEstate_GetInvoices",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "bostadsid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Invoice.Models.Invoice" }
            }
          }
        }
      }
    },
    "/CRM/Estate/{customerId}/{estateId}/commission/adjustment": {
      "get": {
        "tags": [ "CrmEstate" ],
        "summary": "Hämtar provisionsjusteringar",
        "description": "<p>Hämtar provisionsjusteringar (tillägg/avdrag)</p>",
        "operationId": "CrmEstate_GetAdjustment",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "Bostadsid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Invoice.Models.CommissionAdjustment" }
            }
          }
        }
      },
      "post": {
        "tags": [ "CrmEstate" ],
        "summary": "Provisionsjustering",
        "description": "<p>Provisionsjustering (tillägg/avdrag)</p>\r\n<p>Ange ett negativt belopp för avdrag på provisionen</p>",
        "operationId": "CrmEstate_PostAdjustment",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "Bostadsid",
            "required": true,
            "type": "string"
          },
          {
            "name": "commisionAdjustments",
            "in": "body",
            "description": "Justring",
            "required": true,
            "schema": { "$ref": "#/definitions/Invoice.Models.CommissionAdjustment" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "string" }
          }
        }
      }
    },
    "/CRM/Estate/{customerId}/{estateId}/advertising": {
      "put": {
        "tags": [ "CrmEstate" ],
        "summary": "Marknadsför utlandsbostäder på marknadsplatser",
        "operationId": "CrmEstate_UpdateAdvertising",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateAdvertising",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/Marketplace.Models.CrmEstateAdvertising" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/CRM/Estate/{customerId}/marketplace": {
      "get": {
        "tags": [ "CrmEstate" ],
        "summary": "Hämtar marknadsplatser för utlandsbostäder",
        "operationId": "CrmEstate_GetMarketplaces",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "criteria.estateType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [ "ForeignProperty" ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Marketplace.Models.CrmEstateMarketplace" }
            }
          }
        }
      }
    },
    "/CRM/Estate/{customerId}/{estateId}/file": {
      "get": {
        "tags": [ "CrmEstate" ],
        "summary": "Hämtar alla filer tillhörande ett objekt eller projekt",
        "operationId": "CrmEstate_GetFiles",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "id på objekt/projekt",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/File.Models.FileInfo" }
            }
          }
        }
      }
    },
    "/CRM/Estate/{customerId}/AssignmentSources": {
      "get": {
        "tags": [ "CrmEstate" ],
        "summary": "Hämtar intagskällor",
        "operationId": "CrmEstate_GetIntakesSources",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "kundid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/IntakeSource.Models.AssignmentSource" }
            }
          }
        }
      }
    },
    "/CRM/File/GetFile": {
      "get": {
        "tags": [ "CrmFile" ],
        "summary": "Hämtar fil. Exempelvis bilagor i pdf.",
        "description": "<p>Hämta fil.</p>\r\n<p>För att kunna hämta en fil så krävs det en giltig API nyckel och ett kundid.\r\n            Det krävs även ett giltig fil id för att kunna hämta en fil.</p>",
        "operationId": "CrmFile_GetFile",
        "consumes": [],
        "produces": [ "application/octet-stream", "text/x-base64", "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileId",
            "in": "query",
            "description": "Filid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "byte",
              "type": "string"
            }
          }
        }
      }
    },
    "/CRM/File/{customerId}/{estateId}": {
      "post": {
        "tags": [ "CrmFile" ],
        "summary": "Metod för att lägga till ett nytt dokument till en bostad.",
        "operationId": "CrmFile_Post",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "Bostadsid",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileData",
            "in": "body",
            "description": "Fildata",
            "required": true,
            "schema": { "$ref": "#/definitions/File.Models.File" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "string" }
          }
        }
      }
    },
    "/CRM/File/{customerId}/{fileId}": {
      "delete": {
        "tags": [ "CrmFile" ],
        "summary": "Metod för att ta bort en fil",
        "operationId": "CrmFile_Delete",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "Filid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/CRM/Image/GetImage": {
      "get": {
        "tags": [ "CrmImage" ],
        "summary": "Hämtar bilder.",
        "description": "<p>Hämtar bild.</p>\r\n<p>För att kunna hämta en bild så krävs det en giltig API nyckel och ett kundid.\r\n            Det krävs även ett giltig bild id för att kunna hämta en bild.</p>\r\n<p>\r\n  <a href=\"/Help/ImageApi\" target=\"_blank\">Det finns dessutom extra parametrar för t ex skalning och beskärning av bilden,\r\n            mer information finns här</a>\r\n</p>\r\n<p>OBS! Om inga parametrar för bild API:et används, så kommer ni att få bilden exakt som bilden ligger lagrad i datakällan.</p>",
        "operationId": "CrmImage_GetImage",
        "consumes": [],
        "produces": [ "application/octet-stream", "text/x-base64", "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "imageId",
            "in": "query",
            "description": "Bildid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "byte",
              "type": "string"
            }
          }
        }
      }
    },
    "/CRM/Image/{customerId}/{estateId}": {
      "post": {
        "tags": [ "CrmImage" ],
        "summary": "Metod för att lägga till en ny bild (gif,jpg,tiff,bmp,png) till en bostad.",
        "operationId": "CrmImage_Post",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "Bostadsid",
            "required": true,
            "type": "string"
          },
          {
            "name": "imageData",
            "in": "body",
            "description": "Bilddata",
            "required": true,
            "schema": { "$ref": "#/definitions/Image.Models.ImageData" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "string" }
          }
        }
      }
    },
    "/CRM/Image/{customerId}/{imageId}": {
      "put": {
        "tags": [ "CrmImage" ],
        "summary": "Metod för att uppdatera en bild (gif,jpg,tiff,bmp,png).",
        "operationId": "CrmImage_Put",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "imageId",
            "in": "path",
            "description": "Bildid",
            "required": true,
            "type": "string"
          },
          {
            "name": "imageData",
            "in": "body",
            "description": "Bilddata",
            "required": true,
            "schema": { "$ref": "#/definitions/Image.Models.ImageData" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      },
      "delete": {
        "tags": [ "CrmImage" ],
        "summary": "Metod för att ta bort en bild",
        "operationId": "CrmImage_Delete",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "imageId",
            "in": "path",
            "description": "Bildid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/CRM/Image/GetImageCategories": {
      "get": {
        "tags": [ "CrmImage" ],
        "summary": "Metod för att hämta bildkategorier",
        "operationId": "CrmImage_GetImageCategories",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Image.Models.ImageCategories" }
            }
          }
        }
      }
    },
    "/CRM/Lead/{customerId}/LeadSources": {
      "get": {
        "tags": [ "CrmLead" ],
        "summary": "Hämtar en lista över leadskällor.",
        "operationId": "CrmLead_GetLeadSources",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Lead.Models.LeadSource" }
            }
          }
        }
      }
    },
    "/CRM/Lead/{customerId}": {
      "post": {
        "tags": [ "CrmLead" ],
        "summary": "Skapar ett lead",
        "operationId": "CrmLead_Create",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "lead",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Lead.Models.Lead" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "string" }
          }
        }
      }
    },
    "/CRM/Link/{customerId}/{linkId}": {
      "get": {
        "tags": [ "CrmLink" ],
        "summary": "Hämtar länkar.",
        "description": "<p>Hämtar länk.</p>\r\n<p>För att kunna hämta en länk så krävs det en giltig API nyckel och ett kundid.\r\n            Det krävs även ett giltig länkid för att kunna hämta en länk.</p>",
        "operationId": "CrmLink_Get",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkId",
            "in": "path",
            "description": "länkid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Link.Models.Link" }
          }
        }
      }
    },
    "/CRM/Link/{customerId}/{estateId}": {
      "post": {
        "tags": [ "CrmLink" ],
        "summary": "Metod för att lägga till en ny länk  till en bostad.",
        "operationId": "CrmLink_Create",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "Bostadsid",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkData",
            "in": "body",
            "description": "Länk",
            "required": true,
            "schema": { "$ref": "#/definitions/Link.Models.LinkData" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "string" }
          }
        }
      }
    },
    "/CRM/Link/{customerId}/Category": {
      "post": {
        "tags": [ "CrmLink" ],
        "summary": "Metod för att hämta länkkategorier",
        "operationId": "CrmLink_Categories",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Link.Models.LinkCategories" }
            }
          }
        }
      }
    },
    "/CRM/Project/{customerId}/{projectId}": {
      "put": {
        "tags": [ "CrmProject" ],
        "summary": "Metod för att uppdatera ett projekt",
        "operationId": "CrmProject_Update",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Id på projektet",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "body",
            "description": "Projektinformationen som ska uppdateras",
            "required": true,
            "schema": { "$ref": "#/definitions/Cms.Estate.CmsProject" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/CRM/Project/{customerId}/{projectId}/Estate": {
      "post": {
        "tags": [ "CrmProject" ],
        "summary": "Metod för att koppla befintliga objekt till ett projekt",
        "operationId": "CrmProject_AddEstateConnections",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Id på projektet",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateIds",
            "in": "body",
            "description": "Id:n på objekt som ska kopplas till projektet",
            "required": true,
            "schema": {
              "type": "array",
              "items": { "type": "string" }
            }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/CRM/Project/{customerId}/{projectId}/Estate/{estateId}": {
      "delete": {
        "tags": [ "CrmProject" ],
        "summary": "Metod för att koppla bort objekt från ett projekt",
        "operationId": "CrmProject_DeleteEstateConnections",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Id på projektet",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "Id på objekt som ska kopplas bort från projektet",
            "required": true,
            "type": "string"
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/CRM/Seller/{customerId}/{contactId}/Estate/{estateId}/Economy": {
      "get": {
        "tags": [ "CrmSeller" ],
        "summary": "Bankuppgifter",
        "operationId": "CrmSeller_GetEconomy",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Seller.Models.SellerEconomy" }
          }
        }
      }
    },
    "/CRM/Speculator/{customerId}/{contactId}/Estate/{estateId}": {
      "put": {
        "tags": [ "CrmSpeculator" ],
        "operationId": "CrmSpeculator_Put",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "speculatorRelation",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Speculator.Models.SpeculatorRelation" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/CRM/Usergroups/{customerId}": {
      "get": {
        "tags": [ "CrmUserGroups" ],
        "summary": "Hämta användargrupp",
        "operationId": "CrmUserGroups_Get",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/CRM.Usergroup.UserGroup" }
            }
          }
        }
      }
    },
    "/CustomField/Get": {
      "get": {
        "tags": [ "CustomField" ],
        "summary": "Hämtar egendefinerade fält.",
        "operationId": "CustomField_Get",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Kund id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/CustomField.Models.CustomFields" }
            }
          }
        }
      }
    },
    "/Document/{customerId}/{estateId}": {
      "post": {
        "tags": [ "Document" ],
        "summary": "Metod för att lägga till eller uppdatera ett  dokument till en bostad.",
        "operationId": "Document_Post",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "Bostadsid",
            "required": true,
            "type": "string"
          },
          {
            "name": "document",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/Documents.Models.Document" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "string" }
          }
        }
      }
    },
    "/Estate/GetStatuses": {
      "post": {
        "tags": [ "Estate" ],
        "summary": "Hämtar en lista över statusar för bostäder.",
        "operationId": "Estate_GetStatuses",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Common.Estate.Status" }
            }
          }
        }
      }
    },
    "/Estate/GetEstateList": {
      "post": {
        "tags": [ "Estate" ],
        "summary": "Hämtar en lista över bostäder",
        "operationId": "Estate_GetEstateList",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "criteria",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/Criteria.Estate.EstateCriteria" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/List.Estate.EstateList" }
            }
          }
        }
      }
    },
    "/Estate/GetHouse": {
      "get": {
        "tags": [ "Estate" ],
        "summary": "Hämtar komplett information om en villa.",
        "description": "För att hämta komplett information för en villa så krävs ett bostadsid.",
        "operationId": "Estate_GetHouse",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "estateId",
            "in": "query",
            "description": "Bostadsid",
            "required": true,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Kundid",
            "required": false,
            "type": "string"
          },
          {
            "name": "onlyFutureViewings",
            "in": "query",
            "description": "Visa enbart kommande visningar",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Estate.Models.House" }
          }
        }
      }
    },
    "/Estate/GetForeignProperty": {
      "get": {
        "tags": [ "Estate" ],
        "summary": "Hämtar komplett information om en utlandsbostad.",
        "description": "För att hämta komplett information för en utlandsbostad så krävs ett bostadsid.",
        "operationId": "Estate_GetForeignProperty",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "estateId",
            "in": "query",
            "description": "Bostadsid",
            "required": true,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Kundid",
            "required": false,
            "type": "string"
          },
          {
            "name": "onlyFutureViewings",
            "in": "query",
            "description": "Visa enbart kommande visningar",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Estate.Models.ForeignProperty" }
          }
        }
      }
    },
    "/Estate/GetHousingCooperative": {
      "get": {
        "tags": [ "Estate" ],
        "summary": "Hämtar komplett information om en bostadsrätt.",
        "description": "För att hämta komplett information för en bostadsrätt så krävs ett bostadsid.",
        "operationId": "Estate_GetHousingCooperative",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "estateId",
            "in": "query",
            "description": "Bostadsid",
            "required": true,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Kundid",
            "required": false,
            "type": "string"
          },
          {
            "name": "onlyFutureViewings",
            "in": "query",
            "description": "Visa enbart kommande visningar",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Estate.Models.HousingCooperative" }
          }
        }
      }
    },
    "/Estate/GetCottage": {
      "get": {
        "tags": [ "Estate" ],
        "summary": "Hämtar komplett information om ett fritidshus.",
        "description": "För att hämta komplett information för ett fritidshus så krävs ett bostadsid.",
        "operationId": "Estate_GetCottage",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "estateId",
            "in": "query",
            "description": "Bostadsid",
            "required": true,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Kundid",
            "required": false,
            "type": "string"
          },
          {
            "name": "onlyFutureViewings",
            "in": "query",
            "description": "Visa enbart kommande visningar",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Estate.Models.Cottage" }
          }
        }
      }
    },
    "/Estate/GetPlot": {
      "get": {
        "tags": [ "Estate" ],
        "summary": "Hämtar komplett information om en tomt.",
        "description": "För att hämta komplett information för en tomt så krävs ett tomtid.",
        "operationId": "Estate_GetPlot",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "estateId",
            "in": "query",
            "description": "tomtid",
            "required": true,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Kundid",
            "required": false,
            "type": "string"
          },
          {
            "name": "onlyFutureViewings",
            "in": "query",
            "description": "Visa enbart kommande visningar",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Estate.Models.Plot" }
          }
        }
      }
    },
    "/Estate/GetProject": {
      "get": {
        "tags": [ "Estate" ],
        "summary": "Hämtar komplett information om ett projekt.",
        "description": "För att hämta komplett information om ett projekt så krävs ett projektid.",
        "operationId": "Estate_GetProject",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "description": "Projektid",
            "required": true,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Kundid",
            "required": false,
            "type": "string"
          },
          {
            "name": "onlyFutureViewings",
            "in": "query",
            "description": "Visa enbart kommande visningar",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Estate.Models.Project" }
          }
        }
      }
    },
    "/Estate/GetFarm": {
      "get": {
        "tags": [ "Estate" ],
        "summary": "Hämtar komplett information om en gård.",
        "description": "För att hämta komplett information för en gård så krävs ett bostadsid.",
        "operationId": "Estate_GetFarm",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "estateId",
            "in": "query",
            "description": "Bostadsid",
            "required": true,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Kundid",
            "required": false,
            "type": "string"
          },
          {
            "name": "onlyFutureViewings",
            "in": "query",
            "description": "Visa enbart kommande visningar",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Estate.Models.Farm" }
          }
        }
      }
    },
    "/Estate/GetCommercialProperty": {
      "get": {
        "tags": [ "Estate" ],
        "summary": "Hämtar komplett information om ett kommersiellt objekt.",
        "description": "För att hämta komplett information för ett kommersiellt objekt så krävs ett bostadsid.",
        "operationId": "Estate_GetCommercialProperty",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "estateId",
            "in": "query",
            "description": "Bostadsid",
            "required": true,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Kundid",
            "required": false,
            "type": "string"
          },
          {
            "name": "onlyFutureViewings",
            "in": "query",
            "description": "Visa enbart kommande visningar",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Estate.Models.CommercialProperty" }
          }
        }
      }
    },
    "/Estate/GetCondominium": {
      "get": {
        "tags": [ "Estate" ],
        "summary": "Hämtar komplett information om en ägarlägenhet.",
        "description": "För att hämta komplett information för en ägarlägenhet så krävs ett bostadsid.",
        "operationId": "Estate_GetCondominium",
        "consumes": [],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "estateId",
            "in": "query",
            "description": "Bostadsid",
            "required": true,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
[...]
